<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/mainStyle.css">
    <link rel="stylesheet" href="../styles/mainPage.css">
    <title>Nuevo Dataset</title>
    <link rel="shortcut icon" href="/images/dataset.png">
</head>
<body>
    <header>
        <ul class="navLinks">
            <li><a href="mainpage">Inicio</a></li>
            <li><a href="userprofile">Mi perfil</a></li>
            <li><a href="#">Acerca de</a></li>
        </ul>
        <a href="/"><button>Cerrar Sesión</button></a>
    </header>

    <div class="form_Login" style="width:500px; height: 460px;  margin-top: 110px">
        <form method="post" action="/newdataset" enctype="multipart/form-data">
            <h5> CREAR NUEVO DATASET </h5>
            <input class="controls" type="text" name="name" id="name" value="" placeholder="Nombre">
            <textarea class="controlDescription" name="desc" id="desc" placeholder="Descripción" maxlength='1000' minlength='10'></textarea>

            <label for="photo">Seleccione una foto:</label><br>
            <input class="lblDatasets"type="file" onchange="readPhotoURL()" name="photo"><br>
            <input type="text" name="photourl" id="photourl" hidden>

            <label for="archive">Seleccione datasets a subir:</label><br>
            <input class="lblDatasets" type="file" name="archive" id="archive"><br>

            <label for="video">Agregue tutorial:</label><br>
            <input type="file" onchange="readVideoURL()" name="video" id="video"><br>
            <input type="text" name="videourl" id="videourl" hidden>
            <input class="buttonCreate" type="submit" name="" value="CREAR">
        </form>
    </div>
    <script>
        function readPhotoURL(){
            console.log("Photo");
            const file = document.querySelector('input[type=file]').files[0];
            const reader = new FileReader();
            reader.addEventListener("load", () => {
                // convert image file to base64 string
                document.getElementById('photourl').value = reader.result;
            }, false);
            if (file) {
                reader.readAsDataURL(file);
            }
        }

        function readVideoURL(){
            const file = document.getElementById('video').files[0];
            const reader = new FileReader();
            reader.addEventListener("load", () => {
                // convert image file to base64 string
                console.log(reader.result);
                document.getElementById('videourl').value = reader.result;
            }, false);
            if (file) {
                reader.readAsDataURL(file);
            }
        }
    </script>
<script src= "//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<% if(typeof alert != "undefined") { %>
    <script>
        Swal.fire({
            title: '<%= alertTitle %>',
            text: '<%= alertMessage %>',
            icon: '<%= alertIcon %>',
            showConfirmButton: <%= showConfirmButton %>,
            timer: <%= timer %>
        });
</script>
    <% } %>
    <script>
        function readURL(){
            const file = document.querySelector('input[type=file]').files[0];
            const reader = new FileReader();
            reader.addEventListener("load", () => {
                // convert image file to base64 string
                document.getElementById('photourl').value = reader.result;
                document.getElementById('photodisplay').src = reader.result;
            }, false);
            if (file) {
                reader.readAsDataURL(file);
            }
        }
    </script>

</body>
</html>